@model Cumulative_Project_1.Models.Class
@{
    ViewBag.Title = "Show";
}

<div id="containershow">

    <h2>Show Class</h2>
    @Model.ClassName <br />
    @Model.ClassId  <br />
    @Model.ClassCode <br />
    @Model.StartDate <br />
    @Model.FinishDate

</div>
